.innovative-form-layout {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.innovative-form-layout > * {
    padding: 0.5rem;
}

.innovative-form-layout.col-* > * {
    margin-bottom: 0.25rem;
}

/* Column spanning classes */
.innovative-form-layout.col-1 {
    width: 8.33%;
}

.innovative-form-layout.col-2 {
    width: 16.66%;
}

.innovative-form-layout.col-3 {
    width: 25%;
}

.innovative-form-layout.col-4 {
    width: 33.33%;
}

.innovative-form-layout.col-5 {
    width: 41.66%;
}

.innovative-form-layout.col-6 {
    width: 50%;
}

.innovative-form-layout.col-7 {
    width: 58.33%;
}

.innovative-form-layout.col-8 {
    width: 66.66%;
}

.innovative-form-layout.col-9 {
    width: 75%;
}

.innovative-form-layout.col-10 {
    width: 83.33%;
}

.innovative-form-layout.col-11 {
    width: 91.66%;
}

.innovative-form-layout.col-12 {
    width: 100%;
}

.form-column-group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0.5rem;
}

.form-ungrouped {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.form-column-group ::deep .rz-datepicker {
    display: grid;
}

.form-column-group ::deep .rz-datepicker > .rz-inputtext {
    width: unset;
}

::deep .rz-label {
    font-weight: var(--innov-label-font-weight);
    font-size: var(--innov-label-font-size);
    margin-block-start: unset;
    margin-block-end: unset;
    margin-bottom: 0;
}

::deep .rz-colorpicker,
::deep .rz-lookup-search input,
::deep .rz-spinner,
::deep .rz-calendar .rz-inputtext,
::deep .rz-multiselect,
::deep .rz-dropdown,
::deep .mask,
::deep .rz-textarea,
::deep .rz-textbox,
::deep .rz-numeric,
::deep .rz-chkbox-box {
    color: var(--innov-input-value-color);
    font-size: var(--innov-input-font-size);
    line-height: var(--innov-input-line-height);
    background-color: var(--innov-input-background-color);
    border: var(--innov-input-border);
    border-block-end: var(--innov-input-border-block-end);
    border-radius: var(--innov-input-border-radius);
    box-shadow: var(--innov-input-shadow);
    transition: var(--innov-input-transition);
}

::deep .rz-form-field:hover .rz-form-field-content,
::deep .rz-autocomplete:hover:not(.rz-state-disabled),
::deep .rz-timespanpicker > .rz-inputtext:not(:disabled):not(.rz-state-disabled):hover,
::deep .rz-colorpicker:not(:disabled):not(.rz-state-disabled):hover,
::deep .rz-lookup-search input:not(:disabled):not(.rz-state-disabled):hover,
::deep .rz-numeric:not(:disabled):not(.rz-state-disabled):hover,
::deep .rz-datepicker > .rz-inputtext:not(:disabled):not(.rz-state-disabled):hover,
::deep .rz-multiselect:not(:disabled):not(.rz-state-disabled):hover,
::deep .rz-dropdown:not(:disabled):not(.rz-state-disabled):hover,
::deep .mask:not(:disabled):not(.rz-state-disabled):hover,
::deep .rz-textarea:not(:disabled):not(.rz-state-disabled):hover,
::deep .rz-textbox:not(:disabled):not(.rz-state-disabled):hover,
::deep .rz-chkbox-box:hover:not(.rz-state-disabled) {
    background-color: var(--innov-input-hover-background-color);
    border: var(--innov-input-hover-border);
    border-block-end: var(--innov-input-hover-border-block-end);
    box-shadow: var(--innov-input-hover-shadow);
}

::deep .rz-form-field.rz-state-focused .rz-form-field-content,
::deep .rz-numeric:focus-within:not(.rz-state-disabled),
::deep .rz-autocomplete:focus-within:not(.rz-state-disabled),
::deep .rz-timespanpicker > .rz-inputtext:not(:disabled):not(.rz-state-disabled):focus,
::deep .rz-colorpicker:not(:disabled):not(.rz-state-disabled):focus,
::deep .rz-lookup-search input:not(:disabled):not(.rz-state-disabled):focus,
::deep .rz-numeric:not(:disabled):not(.rz-state-disabled):focus,
::deep .rz-datepicker > .rz-inputtext:not(:disabled):not(.rz-state-disabled):focus,
::deep .rz-multiselect:not(:disabled):not(.rz-state-disabled):focus,
::deep .rz-dropdown:not(:disabled):not(.rz-state-disabled):focus,
::deep .mask:not(:disabled):not(.rz-state-disabled):focus,
::deep .rz-textarea:not(:disabled):not(.rz-state-disabled):focus,
::deep .rz-textbox:not(:disabled):not(.rz-state-disabled):focus {
    background-color: var(--innov-input-focus-background-color);
    border: var(--innov-input-focus-border);
    border-color: var(--innov-input-focus-border-color);
    border-block-end: var(--innov-input-focus-border-block-end);
    box-shadow: var(--innov-input-focus-shadow);
    outline: var(--innov-input-focus-outline);
    outline-offset: var(--innov-input-focus-outline-offset);
}

::deep .rz-state-highlight.rz-menuitem:hover,
::deep .rz-state-highlight.rz-autocomplete-list-item:hover,
::deep .rz-state-highlight.rz-multiselect-item:hover,
::deep .rz-autocomplete-items li.rz-state-highlight:hover,
::deep .rz-dropdown-items li.rz-state-highlight:hover,
::deep .rz-multiselect-items li.rz-state-highlight:hover,
::deep .rz-dropdown-item.rz-state-highlight:hover {
    background-color: var(--innov-dropdown-item-selected-hover-background-color);
    color: var(--innov-dropdown-item-selected-hover-color);
}

::deep .rz-state-highlight.rz-menuitem,
::deep .rz-state-highlight.rz-autocomplete-list-item,
::deep .rz-state-highlight.rz-multiselect-item,
::deep .rz-autocomplete-items li.rz-state-highlight,
::deep .rz-dropdown-items li.rz-state-highlight,
::deep .rz-multiselect-items li.rz-state-highlight,
::deep .rz-dropdown-item.rz-state-highlight {
    background-color: var(--innov-dropdown-item-selected-background-color);
    color: var(--innov-dropdown-item-selected-color);
    box-shadow: none;
}

::deep .rz-chkbox {
    width: var(--innov-checkbox-width);
    height: var(--innov-checkbox-height);
    min-width: unset;
}

::deep .rz-chkbox-box:hover:not(.rz-state-disabled):after {
    width: var(--innov-input-checkbox-circle-hover-width);
    height: var(--innov-input-checkbox-circle-hover-height);
    background-color: var(--innov-input-checkbox-circle-hover-background-color);
}

::deep .rz-datepicker-popup-container {
    width: var(--innov-datepicker-popup-width);
    margin: var(--innov-datepicker-panel-margin);
    box-shadow: var(--innov-datepicker-panel-shadow);
    border: var(--innov-datepicker-panel-border);
    border-radius: var(--innov-border-radius);
    background-color: var(--innov-datepicker-panel-background-color);
}

::deep .rz-calendar-header {
    background-color: var(--innov-datepicker-header-background-color);
    border-bottom: var(--innov-datepicker-header-border);
    color: var(--innov-datepicker-header-color);
    padding-block: var(--innov-datepicker-header-padding-block);
    padding-inline: var(--innov-datepicker-header-padding-inline);
}

::deep .rz-calendar-view-container {
    padding-block: var(--innov-datepicker-calendar-padding-block);
    padding-inline: var(--innov-datepicker-calendar-padding-inline);
}

::deep .rz-calendar-view td {
    border-top: var(--innov-datepicker-calendar-border);
}

::deep .rz-calendar-view td .rz-state-active,
::deep .rz-calendar-view td .rz-state-active.rz-calendar-today {
    color: var(--innov-datepicker-calendar-selected-color);
    background-color: var(--innov-datepicker-calendar-selected-background-color);
    padding: var(--innov-datepicker-calendar-item-padding);
}

::deep .rz-html-editor {
    border-radius: var(--innov-editor-border-radius);
    border: var(--innov-editor-border);
}

::deep .rz-html-editor-content {
    background-color: var(--innov-editor-content-background-color);
}

::deep .rz-html-editor:focus-within {
    outline: var(--innov-editor-focus-outline);
    outline-offset: var(--innov-editor-focus-outline-offset);
}

::deep .rz-html-editor-toolbar {
    border-bottom: var(--innov-editor-border);
    background-color: var(--innov-editor-toolbar-background-color);
}

::deep .rz-html-editor-button {
    color: var(--innov-editor-button-color);
    background: var(--innov-editor-button-background-color);
    padding: var(--innov-editor-button-padding);
}

::deep .rz-html-editor-button:disabled {
    color: var(--innov-editor-button-disabled-color);
}

::deep .rz-html-editor-button:hover {
    color: var(--innov-editor-button-hover-color);
    background: var(--innov-editor-button-hover-background-color);
}

::deep .rz-html-editor-separator {
    background-color: var(--innov-editor-separator-background-color);
}

::deep .rz-html-editor-button.rz-selected {
    background-color: var(--innov-editor-button-selected-background-color);
    color: var(--innov-editor-button-selected-color);
    border-radius: var(--innov-editor-border-radius);
}

/* Small screens */
@media (max-width: 1280px) {
    /* Every child goes full width */
    .innovative-form-layout > * {
        width: 100%;
    }

    .rz-dialog-side-content-layout ::deep .rz-label {
        margin-bottom: -.75rem;
    }
}
