.innovative-form-layout {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.innovative-form-layout > * {
    padding: 0.5rem;
}

.innovative-form-layout .col-* > * {
    margin-bottom: 0.25rem;
}

/* Column spanning classes */
.innovative-form-layout .col-1 {
    width: 8.33%;
}

.innovative-form-layout .col-2 {
    width: 16.66%;
}

.innovative-form-layout .col-3 {
    width: 25%;
}

.innovative-form-layout .col-4 {
    width: 33.33%;
}

.innovative-form-layout .col-5 {
    width: 41.66%;
}

.innovative-form-layout .col-6 {
    width: 50%;
}

.innovative-form-layout .col-7 {
    width: 58.33%;
}

.innovative-form-layout .col-8 {
    width: 66.66%;
}

.innovative-form-layout .col-9 {
    width: 75%;
}

.innovative-form-layout .col-10 {
    width: 83.33%;
}

.innovative-form-layout .col-11 {
    width: 91.66%;
}

.innovative-form-layout .col-12 {
    width: 100%;
}

.form-column-group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0.5rem;
}

.form-ungrouped {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.form-column-group ::deep .rz-datepicker {
    display: grid;
}

.form-column-group ::deep .rz-datepicker > .rz-inputtext {
    width: unset;
}

.w-100 {
    width: 100%;
}

/* Small screens */
@media (max-width: 1280px) {
    /* Every child goes full width */
    .innovative-form-layout > * {
        width: 100%;
    }

    .rz-dialog-side-content-layout ::deep .rz-label {
        margin-bottom: -.75rem;
    }
}
