@using Innovative.Blazor.Components.Components.Text
@using TextStyle = Innovative.Blazor.Components.Components.Text.TextStyle
<div class="margin">
    <RadzenCard class="card-container">
        <InnovativeText TextStyle="TextStyle.H3" Text="@Title"/>
        @if (IsLoading)
        {
            <RadzenStack AlignItems="AlignItems.Center">
                <InnovativeProgressBarCircular Value="100" ShowValue="false" Mode="Innovative.Blazor.Components.Components.ProgressBarMode.Indeterminate"/>
            </RadzenStack>
        }
        else
        {
            @ChildContent
        }
    </RadzenCard>
</div>