<div class="margin">
    <RadzenCard class="card-container">
        <RadzenText TextStyle="TextStyle.H3" Text="@Title"></RadzenText>
        @if (IsLoading)
        {
            <RadzenStack AlignItems="AlignItems.Center">
                <InnovativeProgressBarCircular Value="100" ShowValue="false" Mode="Innovative.Blazor.Components.Components.ProgressBarMode.Indeterminate"/>
            </RadzenStack>
        }
        else
        {
            @ChildContent
        }
    </RadzenCard>
</div>