<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Innovative" value="https://nuget.pkg.github.com/innovative365nl/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Innovative">
        <package pattern="Innovative.*" />
    </packageSource>
    <packageSource key="nuget.org">
        <package pattern="*.*" />
        <package pattern="Innovative.Blazor.Components" />
    </packageSource>
  </packageSourceMapping>
</configuration>