::deep .rz-data-grid {
    border: var(--inn-data-grid-border);
    border-radius: var(--inn-data-grid-border-radius);
}

::deep .margin {
    margin: 0;
}

::deep .rz-grid-table {
    table-layout: auto;
}

::deep .rz-stack {
    height: clamp(var(--min-height, 0px), 100vh, var(--max-height, 110vh));
}

/* Table head */
::deep .rz-data-grid .rz-grid-table thead th,
::deep .rz-grid-table thead th {
    color: var(--inn-grid-header-color);
    background: var(--inn-grid-header-background-color);
    border-bottom: unset;
}

::deep .rz-grid-table thead tr th:first-child {
    padding: var(--inn-grid-header-first-cell-padding);
}

::deep .rz-grid-table thead tr:first-child th {
    border-bottom: var(--inn-grid-header-border-bottom);
}

::deep .rz-grid-table thead th:not(:last-child) {
    border-inline-end: none;
}

::deep .rz-grid-table thead th .rz-column-title {
    font-size: var(--inn-grid-header-font-size);
    line-height: var(--inn-grid-header-line-height);
    text-transform: var(--inn-grid-header-text-transform);
    color: var(--inn-grid-header-color);
    padding-inline: var(--inn-grid-header-title-padding-inline);
    font-weight: var(--inn-grid-header-font-weight);
}

::deep .rz-grid-table thead th div {
    background: var(--inn-grid-background-color);
}

::deep .rz-column-title-content {
    font-weight: bold;
}

::deep .rz-sortable-column > div:hover .rzi-sort:not(.rzi-sort-asc):not(.rzi-sort-desc) {
    color: var(--inn-grid-sort-icon-color);
}

/* Table body */
::deep .rz-grid-table-striped tbody > tr:not(.rz-expanded-row-content):nth-child(2n+1) > td {
    background-color: var(--inn-grid-row-odd-background-color);
}

::deep .rz-grid-table-striped tbody > tr:not(.rz-expanded-row-content):nth-child(2n) > td {
    background-color: var(--inn-grid-row-even-background-color);
}

::deep .rz-datatable-data td:not(:last-child),
::deep .rz-grid-table td:not(:last-child) {
    border-inline-end: none;
}

/* Selectable grid row */
::deep .rz-selectable .rz-data-row {
    cursor: pointer;
}

::deep .rz-selectable tbody tr.rz-data-row.rz-state-highlight .rz-cell-data {
    color: var(--inn-grid-selected-color);
    font-weight: var(--inn-grid-selected-font-weight);
}

::deep .rz-selectable tbody tr.rz-data-row.rz-state-highlight div {
    visibility: hidden;
}

::deep .rz-selectable tbody tr.rz-data-row.rz-state-highlight div::before {
    content: attr(data-text);
    font-weight: var(--inn-grid-selected-font-weight);
    position: absolute;
    visibility: visible;
}

::deep .rz-selectable tbody tr.rz-data-row td:first-child {
    padding: var(--inn-grid-first-cell-padding);
}

::deep .rz-selectable tbody tr.rz-data-row.rz-state-highlight td:first-child:before {
    content: "arrow_forward_ios";
    margin-left: -1.25rem;
    font-family: var(--inn-icon-font-family);
    color: var(--inn-primary);
    align-content: center;
    position: absolute;
    background-color: unset;
}

::deep .rz-selectable tbody tr.rz-data-row td.rz-frozen-cell-left:after,
::deep .rz-selectable tbody tr.rz-data-row td.rz-frozen-cell-left-inner:after,
::deep .rz-selectable tbody tr.rz-data-row .rz-cell-data.rz-frozen-cell-left:after,
::deep .rz-selectable tbody tr.rz-data-row .rz-cell-data.rz-frozen-cell-left-inner:after {
    background: unset;
}

/* Frozen grid column */
::deep .rz-selectable tbody tr.rz-data-row td.rz-frozen-cell:before,
.rz-selectable tbody tr.rz-data-row td.rz-frozen-cell:after,
.rz-selectable tbody tr.rz-data-row .rz-cell-data.rz-frozen-cell:before,
.rz-selectable tbody tr.rz-data-row .rz-cell-data.rz-frozen-cell:after {
    inset: unset;
}

::deep .rz-grid-table-fixed .rz-frozen-cell-left.rz-frozen-cell-left-end {
    border-inline-end: var(--inn-grid-table-fixed-border) !important;
    box-shadow: var(--inn-grid-table-fixed-shadow);
}

::deep .rz-grid-filter-icon {
    color: var(--inn-grid-filter-color);
    margin-inline: var(--inn-grid-filter-margin-inline);
    font-size: var(--inn-icon-font-size);
    transition: var(--inn-button-icon-only-transition);
}

::deep .rz-grid-filter-icon:hover {
    color: var(--inn-grid-header-filter-icon-hover-color);
}

/* Pager */
::deep .rz-pager {
    padding: var(--inn-pager-padding);
}

::deep .rz-pager-page,
::deep .rz-pager-first,
::deep .rz-pager-prev,
::deep .rz-pager-next,
::deep .rz-pager-last {
    border-radius: var(--inn-button-border-radius);
    min-width: var(--inn-button-width);
    height: var(--inn-button-height);
}

::deep .rz-pager-element,
::deep .rz-button-lg {
    min-width: var(--inn-button-width);
    min-height: var(--inn-button-height);
}

::deep .rz-pager-element,
::deep .rz-button-lg.rz-button-icon-only {
    padding: var(--inn-pager-numeric-button-selected-padding);
    align-content: center;
}

::deep .rz-pager-element,
::deep .rz-button-lg {
    padding: var(--inn-pager-numeric-button-selected-padding);
    min-width: var(--inn-button-width);
    min-height: var(--inn-button-height);
}
