<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ExampleApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="text">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Text
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="changetracker">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Change Tracker
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="loading-circular">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> loading circular
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grid">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Default Grid
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grid/complex/1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Complex Grid 1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grid/complex/2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Multi-line cell Grid
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="displayview">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Display View
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dialog/1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Side panel (simple)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dialog/2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Side panel (advanced)
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
