.rz-dialog-side-content-layout {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
}

.form-column-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form-ungrouped {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 1rem;
}

/* Second grid for labels and inputs */
.form-column-group div {
    display: grid;
    grid-template-columns: minmax(100px, auto) 1fr;
    gap: 0.25rem;
    align-items: baseline;
}

.form-ungrouped div div div pre code .x_ng-scope {
    float: unset !important;
}

.form-ungrouped div div div pre {
    white-space: pre-wrap !important;
}

/* Column spanning classes */
.column-span-4 {
    grid-template-columns: 100%;
}

.column-span-4 div {
    grid-template-columns: 100%;
}

/* Small screens */
@media (max-width: 1280px) {
    .rz-dialog-side-content-layout,
    .form-column-group,
    .form-column-group div {
        grid-template-columns: 100%;
    }

    .rz-dialog-side-content-layout ::deep .rz-label{
        margin-bottom: -.75rem;
    }
}
