@namespace Innovative.Blazor.Components.Components

@if (sidePanelService.IsVisible)
{
    <div class="sidepanel-overlay" @onclick="OnOverlayClick">
        <div class="sidepanel-container"
             style="width:@(sidePanelService.CurrentOptions?.Width ?? "400px");">
            @if (sidePanelService.CurrentComponentType != null)
            {
                <DynamicComponent Type="@sidePanelService.CurrentComponentType" Parameters="@sidePanelService.CurrentParameters" />
            }
        </div>
    </div>
}
