.sidepanel-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sidepanel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--innov-side-panel-padding);
    border-bottom: #a0a0a0 solid .5px;
}

.sidepanel-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidepanel-title h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.sidepanel-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidepanel-icon-button,
.sidepanel-actions ::deep .sidepanel-icon-button {
    padding: var(--innov-button-padding);
    line-height: var(--innov-button-line-height);
    min-height: var(--innov-button-height);
    min-width: var(--innov-button-width);
    display: grid;
    place-items: center;
    background: var(--innov-button-icon-only-background, transparent);
    border: none;
    cursor: pointer;
    border-radius: var(--innov-button-border-radius);
    transition: background 0.2s;
}

.sidepanel-icon-button:hover {
    background: rgba(0,0,0,0.1);
}

.sidepanel-icon-button .material-symbols-outlined {
    color: var(--innov-base-600);
    font-size: var(--innov-icon-font-size);
}

.sidepanel-icon-button:hover  .material-symbols-outlined {
    color: var(--innov-base-900, #0d0c0c);
}

.sidepanel-actions ::deep .sidepanel-icon-button .rz-button-box .material-symbols-outlined,
.sidepanel-actions ::deep .sidepanel-icon-button:hover .rz-button-box .material-symbols-outlined {
    color: var(--innov-base-50, #fafafa);
}

.material-symbols-outlined {
    font-family: 'Material Symbols', sans-serif;
}

.sidepanel-content {
    padding: 1rem;
    flex: 1;
    overflow-y: auto;
    min-height: 500px;
}

.sidepanel-footer {
    padding: 1rem;
    display: flex;
    gap: 10px;
}
