.sidepanel-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sidepanel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--inn-side-panel-padding);
    border-bottom: var(--inn-side-panel-border-bottom);
}

.sidepanel-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidepanel-title h3 {
    margin: 0;
    font-size: var(--inn-sidepanel-title-font-size);
    font-weight: var(--inn-sidepanel-title-font-weight);
}

.sidepanel-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidepanel-icon-button,
.sidepanel-actions ::deep .sidepanel-icon-button {
    padding: var(--inn-button-padding);
    line-height: var(--inn-button-line-height);
    min-height: var(--inn-button-height);
    min-width: var(--inn-button-width);
    display: grid;
    place-items: center;
    background: var(--inn-button-icon-only-background);
    border: none;
    cursor: pointer;
    border-radius: var(--inn-button-border-radius);
    transition: background 0.2s;
}

.sidepanel-icon-button:hover {
    background: rgba(0,0,0,0.1);
}

.sidepanel-icon-button .material-symbols-outlined {
    color: var(--inn-gray-600);
    font-size: var(--inn-icon-font-size);
}

.sidepanel-icon-button:hover  .material-symbols-outlined {
    color: var(--inn-gray-900);
}

.sidepanel-actions ::deep .sidepanel-icon-button .rz-button-box .material-symbols-outlined,
.sidepanel-actions ::deep .sidepanel-icon-button:hover .rz-button-box .material-symbols-outlined {
    color: var(--inn-gray-50);
}

::deep .rz-button.rz-primary.rz-shade-default {
    background-color: var(--inn-primary);
    color: var(--inn-text-color-on-primary);
}

::deep .rz-button.rz-secondary.rz-shade-default {
    background-color: var(--inn-secondary);
    color: var(--inn-text-color-on-secondary);
}

::deep .rz-button.rz-danger.rz-shade-default {
    background-color: var(--inn-danger);
    color: var(--inn-text-color-on-danger);
}

::deep .rz-pager-element,
::deep .rz-button {
    box-shadow: var(--inn-button-shadow);
}

.material-symbols-outlined {
    font-family: 'Material Symbols', sans-serif;
}

@media (hover: hover) and (pointer: fine) {
    ::deep .rz-pager-element:not(.rz-state-disabled):not(:active):hover,
    ::deep .rz-button:not(.rz-state-disabled):not(:active):hover {
        background-image: var(--inn-button-hover-gradient);
        background-size: var(--inn-button-hover-background-size);
        box-shadow: var(--inn-button-hover-shadow);
    }
}

.sidepanel-content {
    padding: 1rem;
    flex: 1;
    overflow-y: auto;
    min-height: 500px;
}

.sidepanel-footer {
    padding: 1rem;
    display: flex;
    gap: 10px;
}
