/* Base alert styles */
.innovative-alert {
    margin: var(--inn-alert-margin);
    padding: var(--inn-alert-padding);
    font-size: var(--inn-alert-font-size);
    border: var(--inn-alert-border);
    border-radius: var(--inn-alert-border-radius);
    display: grid;
    grid-template-columns: auto 1fr auto; /* icon | content | close */
    column-gap: 0.75rem; /* a bit more space between text and close */
    align-items: start;
    box-shadow: var(--inn-alert-shadow);
}


.innovative-alert-error > .material-symbols-outlined {
    color: var(--inn-alert-danger-icon-color, var(--inn-danger));
    align-self: center;
}

.innovative-alert-error {
    color: var(--inn-alert-danger-text-color, var(--inn-gray-900));
    background: var(--inn-alert-danger-background-color, var(--inn-danger-lighter));
}

.innovative-alert-error .innovative-alert-close {
    color: var(--inn-alert-danger-close-text-color, var(--inn-gray-900));
    background: var(--inn-alert-danger-close-background-color, var(--inn-danger-light));
}

.innovative-alert-error .innovative-alert-close:hover {
    color: var(--inn-alert-danger-close-text-color, var(--inn-gray-900));
    background: var(--inn-alert-danger-close-hover-background-color, var(--inn-gray-200));
}

.innovative-alert-success > .material-symbols-outlined {
    color: var(--inn-alert-success-icon-color, var(--inn-success));
    align-self: center;
}

.innovative-alert-success {
    color: var(--inn-alert-success-text-color, var(--inn-gray-900));
    background: var(--inn-alert-success-background-color, var(--inn-success-lighter));
}

.innovative-alert-success .innovative-alert-close {
    color: var(--inn-alert-success-close-text-color, var(--inn-gray-900));
    background: var(--inn-alert-success-close-background-color, var(--inn-success-light));
}

.innovative-alert-success .innovative-alert-close:hover {
    color: var(--inn-alert-success-close-text-color, var(--inn-gray-900));
    background: var(--inn-alert-success-close-hover-background-color, var(--inn-gray-200));
}

.innovative-alert-warning > .material-symbols-outlined {
    color: var(--inn-alert-warning-icon-color, var(--inn-warning));
    align-self: center;
}

.innovative-alert-warning {
    color: var(--inn-alert-warning-text-color, var(--inn-gray-900));
    background: var(--inn-alert-warning-background-color, var(--inn-warning-lighter));
}

.innovative-alert-warning .innovative-alert-close {
    color: var(--inn-alert-warning-close-text-color, var(--inn-gray-900));
    background: var(--inn-alert-warning-close-background-color, var(--inn-warning-light));
}

.innovative-alert-warning .innovative-alert-close:hover {
    color: var(--inn-alert-warning-close-text-color, var(--inn-gray-900));
    background: var(--inn-alert-warning-close-hover-background-color, var(--inn-gray-200));
}

.innovative-alert-info > .material-symbols-outlined {
    color: var(--inn-alert-info-icon-color, var(--inn-info));
    align-self: center;
}

.innovative-alert-info {
    color: var(--inn-alert-info-text-color, var(--inn-gray-900));
    background: var(--inn-alert-info-background-color, var(--inn-info-lighter));
}

.innovative-alert-info .innovative-alert-close {
    color: var(--inn-alert-info-close-text-color, var(--inn-gray-900));
    background: var(--inn-alert-info-close-background-color, var(--inn-info-light));
}

.innovative-alert-info .innovative-alert-close:hover {
    color: var(--inn-alert-info-close-text-color, var(--inn-gray-900));
    background: var(--inn-alert-info-close-hover-background-color, var(--inn-gray-200));
}

.innovative-alert-close {
    padding: var(--inn-alert-close-padding);
    color: inherit;
    line-height: var(--inn-alert-line-height);
    width: var(--inn-alert-close-width);
    height: var(--inn-alert-close-height);
    display: grid;
    place-items: center;
    border: var(--inn-alert-close-border);
    border-radius: var(--inn-alert-close-border-radius);
    cursor: pointer;
    transition: background 0.2s;
    grid-row: 1;
    grid-column: 3 / 4; /* Last/third column always after text */
}

.innovative-alert-summary {
    font-weight: bold;
    font-size: var(--inn-alert-summary-font-size);
    display: flex;
    grid-column: 2 / 3; /* Second column */
    align-self: center;
}

.innovative-alert-detail {
    font-size: var(--inn-alert-detail-font-size);
    grid-column: 2 / 3;
}

.innovative-alert-content {
    margin-top: 0.5em;
    grid-column: 2 / 3;
}

.material-symbols-outlined {
    font-family: var(--inn-icon-font-family);
    display: inline-block;
}

h3, p {
    margin-bottom: 0;
}
