/* Base alert styles */
.innovative-alert {
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem 0;
    position: relative;
    font-size: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.5rem;
    box-shadow: 0px 2px 3px rgba(87, 90, 103, 0.5);
}

.innovative-alert-info {
    background: var(--innov-info-light, #6CA8E4);
    color: var(--innov-on-info-light, #000000);
}

.innovative-alert-success {
    background: var(--innov-success-light, #C6E46C);
    color: var(--innov-on-success-light, #000000);
}

.innovative-alert-warning {
    background: var(--innov-warning-light, #E4B26C);
    color: var(--innov-on-warning-light, #000000);
}

.innovative-alert-error {
    background: var(--innov-danger-light, #E46E6C);
    color: var(--innov-on-danger-light, #000000);
}

.innovative-alert-close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .5rem;
    line-height: 1;
    min-height: 2.25rem;
    min-width: 2.25rem;
    display: grid;
    place-items: center;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    border-radius:4px;
    transition: background 0.2s;
}

.innovative-alert-close:hover {
    background:rgba(0,0,0,0.1);
}

.innovative-alert-summary {
    font-weight: bold;
    font-size: 1.125rem;
    display: flex;
}

.innovative-alert-detail {
    font-size: 1rem;
    grid-column-start: 2;
}

.innovative-alert-content {
    margin-top: 0.5em;
    grid-column-start: 2;
}

.material-symbols-outlined {
    font-family: 'Material Symbols', sans-serif;
    display: inline-block;
}

h3, p {
    margin-bottom: 0;
}
