@page "/DisplayView"
@using Innovative.Blazor.Components.Components.Detail
@using Innovative.Blazor.Components.Components.Dialog
<h3>ExampleDisplayView</h3>


<InnovativeDetail Model="_person" />

@code {
    
}