@page "/DisplayView"
@using Innovative.Blazor.Components.Components
@using Innovative.Blazor.Components.Components.Common

<h3>ExampleDisplayView</h3>


<InnovativeDetail Model="_person" />

@code {

}
