@page "/grid/complex/4"
@using Innovative.Blazor.Components.Components

<h3> Grid Example 4</h3>
<p>Shows a grid with a preview control in the side panel.</p>

<InnovativeGrid TItem="PersonPreviewGridModel"
                MinHeightOption="GridHeight.Max"
                Data="@items"
                EnableRowSelection="true"
                OnSelectionChanged="OnRowSelected" />
