@page "/grid"
@using Innovative.Blazor.Components.Components.Grid

<h3> Grid Example</h3>

<RadzenNotification></RadzenNotification>
<InnovativeGrid @ref="_grid" 
                TItem="InnovativeTestClass"  MinHeightOption="GridHeight.Max"
                Data="_items" EnableRowSelection="true" OnSelectionChanged="OnRowSelected"></InnovativeGrid>

