@page "/grid/complex/1"
@using Innovative.Blazor.Components.Components
<h3>Complex Grid Example (1)</h3>
<p>This grid is an example with a custom component (dropdown) that is displayed in a form inside the side panel.</p>
<RadzenNotification />
<div style="float: right;">
    <RadzenButton Click="@(() => OnCreateAttribute())">➕</RadzenButton>
    <RadzenButton Click="@(() => OnRefreshData())">🔄</RadzenButton>
</div>
<InnovativeGrid TItem="AttributesGridModel" MinHeightOption="GridHeight.Max"
                Data="_attributesView" EnableRowSelection="true" OnSelectionChanged="OnRowSelected"></InnovativeGrid>
